@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 16px;
  }
  